body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#snippet {
    min-height: 80vh;
}

main {
    background-color: white;
    padding: 40px 32px 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 9px 18px;
}

/* Navigation bar: */

nav .navbar-container {
    max-width: 1024px;
    margin: 0 auto;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(27, 156, 216)
}

.navbar-brand img {
    width: 350px;
    height: 50px;
    max-height: 50px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.navbar, .navbar > .container-fluid, #navbarCollapse {
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: stretch;
    -webkit-align-items: stretch;
}

.navbar .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .nav-link, .navbar-expand-md .navbar-nav .nav-link {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    text-align: center;
}

.navbar li.nav-item:hover {
    background: rgb(227, 246, 255);
}

.navbar .nav-link::first-line {
    font-size: 20px;
}

/* nav .nav-item:last-child .nav-link {
    padding: 30px 0 30px 30px;
} */
